.badge {
    padding: 6px 16px;
    border-radius: 15px 0 15px 0;
    font-family: 'Lato';
    font-size: 13px;
    font-weight: 700;
    color: #FFFFFF;
    display: inline-block;
}

.badge--pink {
    background-color: #F74B81;
}

.badge--blue {
    background-color: #29A9E1;
}

.badge--green {
    background-color: #3BB77E;
}

.badge--orange {
    background-color: #F2711C;
}