.text{
    font-family: "Quicksand", sans-serif;
    padding: 0;
    margin: 0;
}

.text--header1{
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #7E7E7E;
}

.text--header1--span, .text--header2-input-and-dropdown--span{
    color: #3BB77E;
}

.text--header2-input-and-dropdown, .text--input-group, .text--checkbox-form-title{
    font-size: 14px;
    font-weight: 400;
    color: #253D4E;
}

.text--header2-input-and-dropdown--span{
    font-weight: bold;
}

.text--header3-dropdown{
    font-size: 16px;
    font-weight: 700;
    color: #253D4E;
}

.text--header3-support-center-number{
    font-size: 24px;
    font-weight: 700;
    color: #3BB77E;
}

.text--header3-support-center-text{
    font-size: 12px;
    font-weight: 500;
    color: #7E7E7E;
}

.text--title{
    font-weight: 700;
    color: #253D4E;
}

.text--title--primary-title{
    font-size: 32px;
}

.text--title--secondary-title{
    font-size: 24px;
}

.text--title--hero-title{
    font-size: 72px;
}

.text--title--newsletter-title{
    font-size: 40px;
}

.text--footer-text{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #253D4E;
}

.text--footer-text--span{
    font-weight: 600;
}

.text--input-group{
    font-family: "Lato", sans-serif;
    
}

.text--badge-text{
    font-family: "Lato", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
}

.text--checkbox-form-title{
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

.text--countdown-text{
    font-size: 1.25rem;
    font-weight: 500;
    color: #3BB77E;
}

.text--countdown-timeunit{
    font-family: "Lato", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: #7E7E7E;
}
