.hyp {
  color: var(--color-text-dark);
  font-family: "Quicksand";
  font-size: 0.875rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
}

.hyp--span {
  color: var(--color-primary);
}

.hyp:hover {
  color: var(--color-primary);
}

.hyp--header-upper-section {
  font-family: "Lato", sans-serif;
  font-size: 0.5rem;
  font-weight: 500;
  color: var(--color-text);
}

.hyp--header-mid-section {
  font-family: "Lato", sans-serif;
  font-size: var(--font-size-sm);
  font-weight: 400;
  color: var(--color-text);
}

.hyp--product-grid {
  font-size: var(--font-size-xs);
  font-weight: 600;
}

.hyp--deals-container {
  font-size: var(--font-size-sm);
  font-weight: 700;
  line-height: 0.875rem;
}
