.hyp {
  color: var(--color-text);
  font-family: "Quicksand";
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
}

.hyp:hover {
  color: var(--color-primary);
}

.hyp--header-upper-section {
  font-family: "Lato", sans-serif;
  font-size: 0.5rem;
  font-weight: 500;
}
