.deals-container__image,
.deals-container__banner__image {
  position: absolute;
  top: 0rem;
  left: 0rem;
  height: 70%;
  width: 100%;
  border-radius: 0.5rem;
}

.deals-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 47.5rem;
}

.deals-container__title {
  text-align: left;
  padding: 1rem 0rem;
}

.deals-container__card-container,
.deals-container__banner-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 11.125rem);
}

.deals-container__banner-container {
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 15.166rem);
}

.deals-container__card,
.deals-container__banner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 3rem 0.75rem 0.75rem 0.75rem;
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  box-sizing: border-box;
}

.deals-container__card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  text-align: left;
  border-radius: 0.5rem;
  overflow: hidden;
}

.deals-container__banner {
  height: 9rem;
  padding: 1rem;
  padding-right: 30%;
  justify-content: space-between;
  text-align: left;
}

.deals-container__banner__image {
  height: 100%;
  border-radius: 1rem;
}
