.header-upper-section-style {
  display: flex;
  height: 2rem;
  padding: 0;
  border-bottom: 0.063rem solid #ececec;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.header-upper-section-style__text-container {
  height: inherit;
  place-content: center;
  line-height: 50%;
}
