.category-carousel {
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 0.5rem;
}

.category-carousel__title-container {
  display: flex;
  padding: 1rem 0rem;
  align-items: center;
  justify-content: space-between;
}

.category-carousel__title-container__text-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.category-carousel__title-container__button-container {
  display: flex;
  gap: 0.5rem;
}

.category-carousel__card-container {
  display: flex;
  gap: 1rem;
}

.category-carousel__card {
  display: flex;
  flex-direction: column;
  height: 11rem;
  width: 0;
  flex: 1 1 0;
  padding: 1.5rem 1.75rem;
  border-radius: 0.5rem;
  background-color: #f4f6fa;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.category-carousel__card__image {
  height: 50%;
  margin: 0rem auto;
  aspect-ratio: auto;
}

/* .category-carousel {
  width: 100%;
  padding: 18px;
  background: #f8fff8;
  border-radius: 12px;
  box-sizing: border-box;
} */

/* .carousel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
} */

/* .carousel-controls {
  display: flex;
  gap: 8px;
} */

.category-carousel-viewport {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.category-carousel__track {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  will-change: transform;
  transition: transform 300ms ease;
}

/* .carousel-item {
  padding: 6px;
  box-sizing: border-box;
  background-color: #f4f6fa;
  width: 0;
  flex: 1 1 0;
} */
