.newsletter-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--color-primary-light);
  border-radius: 1.25rem;
  padding: 2.5rem;
  flex-wrap: wrap;
}

.newsletter-banner__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 26rem;
}

.newsletter-banner__form {
  display: flex;
  align-items: stretch;
  height: 4rem;
}

.newsletter-banner__image {
  flex-shrink: 0;
}
