.hero-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 25rem;
  width: 100%;
  padding: 2rem 2rem 1rem 2rem;
  border: none;
  background-color: var(--color-primary-light);
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
}

.hero-slider__content {
  display: flex;
  flex-direction: column;
  padding: 2rem 32% 1rem 32%;
  gap: 1.5rem;
  width: 100%;
  z-index: 11;
  box-sizing: border-box;
  pointer-events: auto;
  text-align: center;
  align-items: center;
}

.hero-slider__slide {
  position: absolute;
  display: flex;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(1.02);
  transition:
    opacity 600ms ease,
    transform 600ms ease;
  pointer-events: none;
  z-index: 0;
}

.hero-slider__slide--active {
  opacity: 1;
  transform: scale(1);
  z-index: 10;
  pointer-events: auto;
}

.hero-slider__slide-overlay {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  align-items: center;
  pointer-events: none;
  z-index: 5;
}

.hero-slider__pagination {
  position: relative;
  display: flex;
  gap: 0.25rem;
  margin-top: auto;
  z-index: 15;
  justify-content: center;
}

.hero-slider__dot {
  position: relative;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 1.5rem;
  padding: 0;
  border: 0.063rem solid var(--color-text-dark);
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.hero-slider__dot--active {
  border: none;
  background-color: var(--color-primary);
}
