.filter-panel {
  display: flex;
  flex-direction: column;
  height: 22rem;
  width: 20%;
  padding: 1rem;
  border: 0.063rem solid var(--color-border);
  border-radius: 0.5rem;
  justify-content: space-between;
  box-sizing: border-box;
}

.filter-panel__title,
.filter-panel__range-slider {
  height: 10%;
  width: 100%;
}

.filter-panel__checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 70%;
}

.filter-panel__button {
  padding-right: 30%;
}

.filter-panel__button-content {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
