.pricetag {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.pricetag__price {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-size: var(--font-size-sm);
  font-weight: 700;
  color: var(--color-primary);
}

.pricetag__old-price {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 0.625rem;
  color: var(--color-text-light);
  text-decoration: line-through;
}
