.new-product-panel {
  display: flex;
  flex-direction: column;
  height: 22rem;
  width: 20%;
  padding: 1rem;
  margin-right: auto;
  border: 0.063rem solid var(--color-border);
  border-radius: 0.5rem;
  justify-content: space-between;
  box-sizing: border-box;
}

.new-product-panel__title {
  height: 10%;
  width: 100%;
}

.new-product-panel__card-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  height: 90%;
}

.new-product-panel__card-container__product-row {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  flex-wrap: wrap;
}
