:root {
  --color-primary: #3bb77e;
  --color-primary-dark: #287a54;
  --color-primary-light: #def9ec;
  --color-primary-border: #bce3C9;
  --color-text: #7e7e7e;
  --color-text-dark: #253d4e;
  --color-text-light: #adadad;
  --color-border: #ececec;
  --color-white: #ffffff;
  --color-pink: #f74b81;
  --color-blue: #29a9e1;
  --color-orange: #f2711c;
  --color-bg-light: #f7f7f7;
  --color-bg-lighter: #f0f0f0;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 2.5rem;
  --font-size-hero: 4.5rem;
}
