.text-input{
    padding: 0rem 1rem;
    border: none;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #838383;
    box-sizing: border-box;
}

.text-input--header-input{
    height: inherit;
    width: 33rem;
    padding: 1rem;
    font-size: 0.875rem;
}

.text-input--email-input{
    height: 100%;
    width: 20rem;
}

.checkbox{
    height: 17px;
    width: 17px;
    margin: 0;
    border: 2px;
    border-color: gray;
    border-radius: 2px;
}

