.call-center-container {
  display: flex;
  width: fit-content;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.call-center-container--text-container {
  flex-direction: column;
  gap: 0;
  justify-content: center;
  line-height: normal;
}
