.combobox-style {
  height: inherit;
  width: 30%;
  padding: 0.5rem;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 0.625rem;
  font-weight: 700;
  color: var(--color-text-dark);
  outline: none;
}

.combobox-style--header-upper-section {
  width: fit-content;
  padding: 0;
  font-size: 0.5rem;
  font-weight: 400;
  color: var(--color-text);
}

.combobox-style--location {
  height: 100%;
  width: fit-content;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 0.625rem;
  color: var(--color-primary);
  appearance: none;
}

.combobox-style--location--green {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.combobox-style-option {
  background-color: var(--color-white);
  color: var(--color-text);
}
