.crd { 
    border-radius: 15px; 
    padding: 24px; 
    background-color: #FFFFFF; 
}

.crd--shadow { 
    box-shadow: 5px 5px 15px rgba(0,0,0,0.08); 
    transition: box-shadow .2s, transform .2s; 
}

.crd--shadow:hover { 
    box-shadow: 5px 5px 20px rgba(0,0,0,0.12); 
    transform: translateY(-4px); 
}

.crd--flat { 
    box-shadow: none;
     padding: 0; 
}