.crd {
  border-radius: 0.9375rem;
  padding: 1.5rem 0.875rem 0.875rem 0.875rem;
  background-color: var(--color-white);
}

.crd--shadow {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  transition:
    box-shadow 0.2s,
    transform 0.2s;
}

.crd--shadow:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.12);
  transform: translateY(-4px);
}

.crd--flat {
  box-shadow: none;
  padding: 0;
}
