.header-bottom-section-style {
  display: flex;
  height: 2.5rem;
  padding: 0.5rem 0rem;
  border-top: 0.063rem solid var(--color-border);
  border-bottom: 0.063rem solid var(--color-border);
  justify-content: space-between;
  align-items: center;
}

.header-bottom-section-style__navgroup {
  display: flex;
  gap: 1rem;
  height: 100%;
  width: fit-content;
  align-items: center;
}
