.header-bottom-section-style {
  position: sticky;
  top: 5rem;
  left: 0;
  z-index: 50;
  display: flex;
  height: 3.5rem;
  /* padding: 0.5rem 0rem; */
  padding: 0.5rem 2rem;
  border-top: 0.063rem solid var(--color-border);
  border-bottom: 0.063rem solid var(--color-border);
  background-color: var(--color-white);
  justify-content: space-between;
  align-items: center;
}

.header-bottom-section-style__navgroup {
  display: flex;
  gap: 1.5rem;
  height: 100%;
  width: fit-content;
  align-items: center;
}
