.button {
  width: auto;
  padding: 0 1.25rem;
  border: none;
  border-radius: 0.25rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--color-primary);
  color: var(--color-white);
  transition-duration: 0.5s;
  cursor: pointer;
}

.button--subscribe-button {
  height: 4rem;
  border-radius: 3.125rem;
}

.button--subscribe-button:hover,
.button--add-button:hover,
.button--shop-now-button:hover,
.button--filter-button:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

.button--add-button {
  height: 2.25rem;
  font-size: 0.875rem;
  background-color: var(--color-primary-light);
  color: var(--color-primary);
}

.button--shop-now-button {
  height: 2rem;
  padding: 0 0.625rem;
  font-size: 0.75rem;
}

.button--filter-button {
  height: 2.5rem;
  font-size: 0.75rem;
}
